*, body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.button{
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
    float: right;
}

/*navbar*/
nav{
    background-color: #d04109;
    height:118px;
    padding: 0px 51.2px 0px 51.2px;
    position: relative;
}

.navnama{
    font-size: 2em;
    display: inline-block;
    padding: 25px 0 0 0;
}
.navbutton{
    display: inline-block;
    float: right;
    padding: 28px 0 0 0;
}
.button1{
    position: relative;
    background-color:#d04109;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #fff;
}
.button2{
    position: relative;
    background-color:#fff;
    font-size: 20px;
    font-weight: bold;
    color:#d04109;
    border: 3px solid #fff;
}


/*body*/
.menu-mobile{
    position: relative;
    display: none;
    float: right;
}

.container{
    width: 910px;
    height: 1279px;
    padding: 3px;
    background-color: #d04109;
    margin: 40.5px 0px 40.5px 0px;
}
.container-top{
    height: 438px;
}
.container-bottom{
    height: 838px;
}

.image{
    float: right;
    position: relative;
    display: inline-block;
    width: 455px;
    height: 438px;
    background-image: url('Images/Register_Image.png');
}
.form{
    float: left;
    position: relative;
    display: inline-block;
    width: 455px;
    height: 438px;
    background-color: #d04109;
}
.form-top{
    padding: 9px 0px 9px 0px;
    font-size: 48px;
    font-weight: 600;
}
.form-isi{
    margin: 3px 3px 3px 0px;
    height: 360px;
    padding: 0px 20px;
    background-color: #fff;
}
h5{
    color: #d04109; 
    font-size: 32px;
    float: left;
    margin: 20px 0px 0px 0px;
}
h3{
    color: #d04109; 
    font-size: 32px;
    float: left;
    
}
h4{
    color:#d04109;
    font-weight: 100;
    margin: 0px 10px;
}
.f1{
    height: 54px;
    width: 390px;
    border: 3px solid #d04109;
    color:black;
    font-size: 24px;
    padding: 0px 10px;
}


h4{
    font-size: 24px;
    display: inline;
    margin-bottom: 5px;
}
.email{
    float: left;
    display: block;
}
.passsword{
    float: left;
    display: block;
}
.remember{
    margin:15px 0px 0px 0px;
    float: left;
}
.btn-msk{
    margin:15px 0px 10px 0px;
    float: left;
    font-size: 36px;
    padding: 3px 10px;
    background-color: #d04109;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.footer{
    width: 100%;
    height: 127px;
    background-color: #d04109;
}
.footer-judul{
    text-align: center;
    font-weight: 750;
    font-size: 48px;
    padding: 10px 0px 10px 0px;
}

.table-sosmed{
    display: inline-block;
    margin: 0px 40px 0px 40px;
}

.logo-sosmed{
    width: 35px; 
    height: 35px; 
    border-radius: 300px;
}
.footer-akhir{
    background-color: #b93002;
    font-size: 18px;
    padding: 3px 0px 3px 0px;
}

.bar1{
    height: 93px; 
    padding: 10px 0px 10px 0px; 
}
h1{
    font-size: 48px;
}
span{
    font-size: 24px;
}
.form-isi2{
    background-color: white;
    height: 708px;
    padding: 20px 20px 0px 20px;
}
.kotak2{
    width: 100%;
    height: 50%;

}
.isi2{
    width: 455px;
    float: left;
}
.isi3{
    float:left;
}
.f2{
    height: 54px;
    width: 390px;
    border: 3px solid #d04109;
    color:black;
    font-size: 24px;
    float: left;
    margin: 0px 0px 20px;
    padding: 0px 10px;
}
option{
    color:black;
}
.alamat{
    width: 865px;
    height: 100px;
    border: 2px solid #d04109;
    padding:10px;
    font-size: 20px;
    color:black;
}
.button3{
    position: relative;
    float: left;
    background-color:#d04109;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #fff;

    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px 0px;
    cursor: pointer;
}

@media (min-width:672px) and (max-width:1050px){
    nav{
        padding: 0px 51.2px 0px 51.2px;
        position: relative;
    }
    .navnama{
        font-size: 20px;
        display: inline-block;
        padding: 35px 0 0 0;
    }
    button{
        border: none;
        color: white;
        padding: 8px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 10px;
        cursor: pointer;
        float: right;
    }
    .table-sosmed{
        display: inline-block;
        margin: 0px 10px 0px 10px;
        font-size: 13px;
    }
}

@media (min-width: 672px) and (max-width: 769px){
    .login{
        width: 710px;
        padding: 3px;
        height: 438px;
        margin: 40.5px 0px 40.5px 0px;
    }
    .image{
        background-repeat: no-repeat;
        width: 335px;
        height: 438px;background-position: -60px 0px;
        margin: 0px;
        background-image: url('Images/Register_Image.png');
    }
    .alamat{
        width: 655px;
        height: 100px;
        border: 2px solid #d04109;
    }
    .form{
        width: 355px;
        height: 438px;
    }
    .f1{
        height: 54px;
        width: 290px;
        font-size: 24px;
        padding: 0px 10px;
    }

    .container{
        width: 700px;
        height: 1279px;
        padding: 3px;
        background-color: #d04109;
        margin: 40.5px 0px 40.5px 0px;
    }

    
}

@media screen and (max-width:672px){
    nav{
        padding: 0px 20px 0px 20px;
        position: relative;
    }
    .navnama{
        font-size: 15px;
        display: inline-block;
        padding: 40px 0 0 0;
    }
    .menu-mobile{
        display: inline-block;
        padding: 40px 0 0 0;
        font-size: 15px;
    }
    .navbutton{
        display: none;
        float: right;
        padding: 28px 0 0 0;
        background-color: none;
    }
    
    .button{
        background-color:#b93002;
        border: 0px;
        color: white;
        top:105px;
        right:100px;
    }
    .table-sosmed{
        display: inline-block;
        margin: 0px 0px 0px 0px;
        font-size: 10px;
    }
    .logo-sosmed{
        width: 35px; 
        height: 35px; 
        border-radius: 300px;
    }
}

@media screen and (max-width:596px){
    .footer-akhir{
        font-size: 15px;
    }
    .button{
        background-color:#b93002;
        border: 0px;
        color: white;
        font-size: medium;
        top:35px;
        right:50px;
    }

    .image{
        display: none;
    }
    .login{
        width: 400px;
    }
    .form{
        width: 400px;
    }
    .f1{
        width: 330px;
    }
    .f2{
        width: 330px;
    }
    .container{
        width: 400px;
        height: 1279px;
        padding: 3px;
        background-color: #d04109;
        margin: 40.5px 0px 40.5px 0px;
    }
    .alamat{
        width: 355px;
        height: 100px;
        border: 2px solid #d04109;
    }
    h1{
        font-size: 30px;
    }
    span{
        font-size: 20px;
    }
    .kotak2{
        width: 100%;
        height: 50%;
    }
    .isi2{
        width: 100%;
    }
}
@media screen and (max-width:506px){
    .logo-sosmed{
        width: 25px; 
        height: 25px; 
        border-radius: 300px;
    }
    .table-sosmed{
        font-size: 6px;
    }
}
@media screen and (max-width:396px){
    .logo-sosmed{
        width: 25px; 
        height: 25px; 
        border-radius: 300px;
    }
    .table-sosmed{
        font-size: 6px;
    }
    .button{
        background-color:#b93002;
        border: 0px;
        color: white;
        font-size: medium;
        top:35px;
        right:30px;
    }

    .image{
        display: none;
    }
    .login{
        width: 330px;
    }
    .form{
        width: 330px;
    }
    .f1{
        width: 280px;
    }
    .btn-msk{
        font-size: 30px;
    }

    .container{
        width: 350px;
        height: 1279px;
        padding: 3px;
        background-color: #d04109;
        margin: 40.5px 0px 40.5px 0px;
    }
    .form-top{
        width: 310px;
        padding-left:20px ;
    }
    .form-isi{
        width: 310px; 
    }
    .alamat{
        width: 355px;
        height: 100px;
        border: 2px solid #d04109;
    }
    h1{
        font-size: 30px;
    }
    span{
        font-size: 20px;
    }
    .kotak2{
        width: 100%;
        height: 50%;
    }
    .isi2{
        width: 100%;
    }
    .f2{
        width: 280px;
    }
    .alamat{
        width: 300px;
    }
    .f1{
        float: left;

    }
}
@media screen and (max-width:321px){
    .button{
        background-color:#b93002;
        border: 0px;
        color: white;
        font-size: medium;
        top:35px;
        right:0px;
    }
    .footer-judul{
        font-size: 30px;
    }
    .logo-sosmed{
        width: 25px; 
        height: 25px; 
        border-radius: 300px;
    }
    .table-sosmed{
        font-size: 6px;
    }
    .footer-akhir{
        font-size: 10px;
    }

    .image{
        display: none;
    }
    .login{
        width: 300px;
    }
    .form{
        width: 300px;
    }
    .f1{
        width: 230px;
    }

    .container{
        width: 300px;
        height: 1279px;
        padding: 3px;
        background-color: #d04109;
        margin: 40.5px 0px 40.5px 0px;
    }
    .form-top{
        width: 250px;
        padding-left:0px ;
    }
    .form-isi{
        width: 250px; 
    }
    .alamat{
        width: 355px;
        height: 100px;
        border: 2px solid #d04109;
    }
    h1{
        font-size: 30px;
    }
    span{
        font-size: 20px;
    }
    .kotak2{
        width: 100%;
        height: 50%;
    }
    .isi2{
        width: 100%;
    }
    .f2{
        width: 230px;
    }
    .alamat{
        width: 260px;
    }
}
